.sub-main{
    width: 600px;
}

.lienso{
    position: relative;
    width: 600px;
    height: 750px;
    border: 1px solid rgb(80, 80, 80);
}
.linea-guia{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 600px;
    border: 1px solid rebeccapurple;
}
#alturaInput{
    width: 50px;
}
input{
    color: aqua;
    background-color: black;
    text-align: center;
}
.notas{
    font-size: 14px;
}